:root {
  --title-color: #2e2f42;
  --text-color: #434455;
  --main-text: Roboto;
  --Logo-text: Raleway;
  --hover-color: #404bbf;
}

.header {
  background-color: #ffffff;
}
/* LOGO */
.studioword {
  width: 71px;
  height: 21px;
  font-family: var(--Logo-text);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.Logo-link {
  text-decoration: none;
  width: 44px;
  height: 21px;
  font-family: var(--Logo-text);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Navigation */

.nav-link .link {
  font-family: var(--main-text);
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;
}
.nav-link .link:hover,
.nav-link .link:focus {
  color: var(--hover-color);
  text-decoration: underline;
}

/* Addresses */
.email-link {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}
.email-link:hover,
.email-link:focus {
  color: var(--hover-color);
}
.phone-link {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}
/* Hero section */
.hero {
  background: #2e2f42;
}
.main-text {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button {
  background: #4d5ae5;
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.button:hover, 
.button:focus: {
  background: var(--hover-color);
}
/* Features */
.subject-features {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.text-features {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* What are we doing */
.title {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}
/* Team section */
.team-section {
  background: #f4f4fd;
}
.name-text {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.position-text {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* Footer */
.footer {
  background: var(--title-color);
}
.Footer-Logo-link {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-second-logoword {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* Portfolio page */
/* Header is the same as at the main page */
/* Filters section */

.filters-title {
}
.filter-button {
  background: #f4f4fd;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4d5ae5;
}
.main {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
/* Portfolio-links-section */
.portfolio-links .link {
  text-decoration: none;
}

.main-text {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--title-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.type {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}
/* Portfolio Footer */
